* {
    font-size: 16px;
    color: #505458;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5 !important;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
}

.push {
    height: 50px;
}

h1 {
    font-size: 36px;
}

a {
    color: #5fbeaa;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #499484;
}

section {
  /*  overflow: hidden;*/
  /*  background-color: #B3D9EB;*/
}

/* --- anchor radius --- */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {

background-color: #fff;

}

/* --- section1 img --- */

.title-text {
    max-height: 80px;
}
/*
.box {
    position: absolute;
    top: 20%;
    right: 10%;
}*/

.box-head {
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 250px;
    max-height: 600px;
    transition: all 1.5s ease-in;
}

.box-body {
    position: absolute;
    right: 170px;
    top: 15px;
    max-height: 592px;
    z-index: 1;
}

.seperate {
    transform: translate3d(-300px, -100px, 0);
}

.land {
    position: absolute;
    top: 220px;
    left: 150px;
    width: 380px;
    z-index: 1;
    display: none;
}

.same-setting {
    position: absolute;
    z-index: 1;
    display: none;
    width: 380px;
}

.land {
    top: 220px;
    left: 150px;
    width: 380px;
}

.add {
    transform: translate3d(0px, 0px, 0);
    position: absolute;
    top: 220px;
    left: 150px;
    width: 380px;
    z-index: 1;
}


.gif1,
.gif3 {
    top: 165px;
    left: 151px;    
}

.gif2,
.gif4 {
    top: 19px;
    left: 153px;
}

.opacity {
   /* opacity: 1;
    transition: all 1.5s ease-in;*/
}

.hide {
    display: none;
}

.show {
    position: fixed;
    display: block;
}

#firstSection {
    z-index: 3;
}

.desc {
    float: left;
}