* {
    font-size: 16px;
    color: #505458;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5 !important;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
}

.push {
    height: 50px;
}

h1 {
    font-size: 36px;
}

a {
    color: #5fbeaa;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #499484;
}

section {
/*    overflow: hidden;*/
    background-color: #B3D9EB;
}

/* --- anchor radius --- */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {

background-color: #fff;

}

/* --- section1 img --- */

.title-text {
    max-height: 80px;
}

.box-head {
    z-index: 999;
    position: absolute;
    top: 50px;
    right: 250px;
    max-height: 600px;
}

.box-body {
    position: absolute;
    right: 170px;
    top: 15px;
    max-height: 592px;
}

